PETI_ENVIRONMENT=LOCAL
PETI_AUTH_MODE=LOCAL_TEST
PETI_STORAGE_MODE=MEMORY
PETI_PROJECT_ID=
PETI_RELEASE_API_BASE_URL=
PETI_ADMOB_APP_ID=
PETI_ADMOB_REWARDED_AD_UNIT_ID=
PETI_FIREBASE_PROJECT_ID=
PETI_FIRESTORE_DATABASE=
PETI_FIRESTORE_DATABASE_ID=
PETI_MEDIA_BUCKET=
PETI_TASKS_PROJECT_ID=
PETI_TASKS_LOCATION=
PETI_ANALYSIS_QUEUE_NAME=analysis
PETI_ANALYSIS_WORKER_URL=
PETI_ANALYSIS_TASK_SERVICE_ACCOUNT=
PETI_ANALYSIS_TASK_AUDIENCE=
PETI_ANALYSIS_EXPECTED_SERVICE_ACCOUNT=
PETI_MAINTENANCE_EXPECTED_SERVICE_ACCOUNT=
PETI_MAINTENANCE_TASK_AUDIENCE=
PETI_AI_ENABLED=true
PETI_AI_PROVIDER_ENABLED=true
PETI_AI_MODEL_ENABLED=true
PETI_AI_PROVIDER=FAKE
PETI_GEMINI_API_KEYS=
PETI_GEMINI_TRANSPORT=SDK
PETI_GEMINI_LOCATION=global
PETI_GEMINI_MAX_ATTEMPTS=3
PETI_GEMINI_RETRY_BACKOFF_SECONDS=0.25
PETI_GEMINI_DAILY_LIMIT_PER_KEY=20
PETI_GOOGLE_WEB_CLIENT_ID=
PETI_AI_MODEL=fake-platform-smoke-v1
PETI_CHECK_ENABLED=false
PETI_CHECK_IMAGE_ENABLED=true
PETI_CHECK_VIDEO_ENABLED=false
PETI_CHECK_AUDIO_ENABLED=false
PETI_TASK_QUEUE=
PETI_WORKER_URL=
